/* * {
    border: 1px solid red;
} */

p {
    border: 1px solid red;
}

.mySpan {
    color: blue;
    width: 60px;
    height: 40px;
    display: inline-block;
}

button {
    padding: 15px 45px;
    background-color: rgb(67, 67, 212);
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
    border-color: rgb(67, 67, 212);
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: rgb(4, 161, 4);
    border-color: rgb(4, 161, 4);
    border-radius: 30px;
}


